/Book 1/HelloApp/nbproject/private/
/Book 1/HelloApp/build/
/Book 1/HelloApp2/nbproject/private/
/Book 1/HelloApp2/build/
/Book 2/HelloApp/nbproject/private/
/Book 2/HelloApp/build/
/Book 2/CaseApp/nbproject/private/
/Book 2/HelloWorld2/nbproject/private/
/Book 2/HelloWorld2/build/
/Book 2/Chapter 1/CaseApp/nbproject/private/
/Book 2/Chapter 1/HelloApp/build/
/Book 2/Chapter 1/HelloApp/nbproject/private/
/Book 2/Chapter 1/HelloWorld2/build/
/Book 2/Chapter 1/HelloWorld2/nbproject/private/
/Book 2/Chapter 2/HelloApp/nbproject/private/
/Book 2/Chapter 2/HelloApp/build/
/Book 2/Chapter 2/HelloApp2/nbproject/private/
/Book 2/Chapter 2/HelloApp2/build/
/Book 2/Chapter 2/ScopeApp/nbproject/private/
/Book 2/Chapter 2/ScopeApp/build/
/Book 2/Chapter 2/ShadowApp/nbproject/private/
/Book 2/Chapter 2/ShadowApp/build/
/Book 2/Chapter 2/ScannerApp/nbproject/private/
/Book 2/Chapter 2/ScannerApp/build/
/Book 2/Chapter 2/DialogApp/nbproject/private/
/Book 2/Chapter 2/DialogApp/build/
/Book 2/Chapter 2/EnumTest/nbproject/private/
/Book 2/Chapter 2/EnumTest/build/
/Book 2/Chapter3/JavaApplication17/nbproject/private/
/Book 2/Chapter3/MarblesApp/nbproject/private/
/Book 2/Chapter3/MarblesApp/build/
/Book 2/Chapter3/CircleAreaApp/nbproject/private/
/Book 2/Chapter3/CircleAreaApp/build/
/Book 2/Chapter3/MathFunctionsApp/nbproject/private/
/Book 2/Chapter3/MathFunctionsApp/build/
/Book 2/Chapter3/DiceApp/nbproject/private/
/Book 2/Chapter3/DiceApp/build/
/Book 2/Chapter3/RoundingApp/nbproject/private/
/Book 2/Chapter3/RoundingApp/build/
/Book 2/Chapter3/NumberFormatClassApp/nbproject/private/
/Book 2/Chapter3/NumberFormatClassApp/build/
/Book 3/EvenCounter/nbproject/private/
/Book 3/EvenCounter/build/
/Book 3/Dodecaphobia/nbproject/private/
/Book 3/Dodecaphobia/build/
/Book 2/Chapter5/CountForever/nbproject/private/
/Book 2/Chapter5/CountForever/build/
/Book 2/Chapter5/Dodecaphobia2/nbproject/private/
/Book 2/Chapter5/NumberPhobia/nbproject/private/
/Book 2/Chapter5/NumberPhobia/build/
/Book 2/Chapter5/NumberPhobia2/nbproject/private/
/Book 2/Chapter5/NumberPhobia2/build/
/Book 2/Chapter5/Dodecaphobia3/nbproject/private/
/Book 2/Chapter5/Dodecaphobia3/build/
/Book 2/Chapter5/EvenCounter2/nbproject/private/
/Book 2/Chapter5/EvenCounter2/build/
/Book 2/Chapter5/GetABet/nbproject/private/
/Book 2/Chapter5/GetABet2/nbproject/private/
/Book 2/Chapter5/GetABet2/build/
/Book 2/Chapter5/GetABet/build/
/Book 2/Chapter5/GetABet3/nbproject/private/
/Book 2/Chapter5/GetABet3/build/
/Book 2/Chapter5/CountToTen/nbproject/private/
/Book 2/Chapter5/CountToTen/build/
/Book 2/Chapter5/CountToTenError/nbproject/private/
/Book 2/Chapter5/CountToTenError/build/
/Book 2/Chapter5/CountToTenErrorFixed/nbproject/private/
/Book 2/Chapter5/CountToTenErrorFixed/build/
/Book 2/Chapter5/ForEvenCounter/nbproject/private/
/Book 2/Chapter5/ForEvenCounter/build/
/Book 2/Chapter5/CountDown/nbproject/private/
/Book 2/Chapter5/LaunchControl/nbproject/private/
/Book 2/Chapter5/LaunchControl/build/
/Book 2/Chapter5/CountBothWays/nbproject/private/
/Book 2/Chapter5/CountBothWays/build/
/Book 2/Chapter5/ExpressionGanging/nbproject/private/
/Book 2/Chapter5/ExpressionGanging/build/
/Book 2/Chapter5/ForDodecaphobia/nbproject/private/
/Book 2/Chapter5/ForDodecaphobia/build/
/Book 2/Chapter5/ForDodecaphobia2/nbproject/private/
/Book 2/Chapter5/ForDodecaphobia2/build/
/Book 2/Chapter5/NestedLoop/nbproject/private/
/Book 2/Chapter5/NestedLoop/build/
/Book 2/Chapter5/GuessingGame/nbproject/private/
/Book 2/Chapter5/GuessingGame/build/
/Book 2/Chapter 6/VoterApp/nbproject/private/
/Book 2/Chapter 6/VoterApp/build/
/Book 2/Chapter 6/VoterApp2/nbproject/private/
/Book 2/Chapter 6/VoterApp2/build/
/Book 2/Chapter 6/CarWashApp/nbproject/private/
/Book 2/Chapter 6/CarWashApp/build/
/Book 2/Chapter 6/CarWashApp2/nbproject/private/
/Book 2/Chapter 6/CarWashApp2/build/
/Book 2/Chapter 6/CarWashStringApp/nbproject/private/
/Book 2/Chapter 6/CarWashStringApp/build/
/Book 2/chapter 7/HelloWorldMethod/nbproject/private/
/Book 2/chapter 7/HelloWorldMethod/build/
/Book 2/chapter 7/ GuessingGameMethod/nbproject/private/
/Book 2/chapter 7/ GuessingGameMethod/build/
/Book 2/chapter 7/ RandomNumber/nbproject/private/
/Book 2/chapter 7/ RandomNumber/build/
/Book 2/chapter 7/GuessingGameMethod2/nbproject/private/
/Book 2/chapter 7/GuessingGameMethod2/build/
/Book 2/chapter 7/ParameterScope/nbproject/private/
/Book 2/chapter 7/ChangeParameters/nbproject/private/
/Book 2/chapter 7/ChangeParameters/build/
/Book 2/chapter 7/GuessingGameMethod3/nbproject/private/
/Book 2/chapter 7/GuessingGameMethod3/build/
/Book 2/chapter 8/DivideByZero/nbproject/private/
/Book 2/chapter 8/DivideByZero/build/
/Book 2/chapter 8/GetInteger/nbproject/private/
/Book 2/chapter 8/GetInteger/build/
/Book 2/chapter 8/GetInteger2/nbproject/private/
/Book 2/chapter 8/GetInteger2/build/
/Book 2/chapter 8/CrazyWithZeros/nbproject/private/
/Book 2/chapter 8/CrazyWithZeros/build/
/Book 2/chapter 8/FileException1/nbproject/private/
/Book 2/chapter 8/FileException1/build/
/Book 2/chapter 8/ MyException/nbproject/private/
/Book 3/DiceGame/nbproject/private/
/Book 3/DiceGame/build/
/Book 3/Player/nbproject/private/
/Book 3/Actor/nbproject/private/
/Book 3/BadActorApp/nbproject/private/
/Book 3/BadActorApp/build/
/Book 3/CrazyClass/nbproject/private/
/Book 3/PrimeClass/nbproject/private/
/Book 3/Chap2/CrazyClass/nbproject/private/
/Book 3/Chap2/DiceGame/build/
/Book 3/Chap2/DiceGame/nbproject/private/
/Book 3/Chap2/Player/nbproject/private/
/Book 3/Chap2/PrimeClass/nbproject/private/
/Book 3/Chap3/CountTestApp/nbproject/private/
/Book 3/Chap3/SingletonClass/nbproject/private/
