/Book 1/HelloApp/nbproject/private/
/Book 1/HelloApp/build/
/Book 1/HelloApp2/nbproject/private/
/Book 1/HelloApp2/build/
/Book 2/HelloApp/nbproject/private/
/Book 2/HelloApp/build/
/Book 2/CaseApp/nbproject/private/
/Book 2/HelloWorld2/nbproject/private/
/Book 2/HelloWorld2/build/
